.contenta p{

    font-weight: lighter;
    text-align: center;
    font-size: 120%;
    color:black;
    text-shadow: 0.3px 0.3px 0.3px rgb(25, 27, 25);
  }

  .contenta h3 {
    font-size: 120%;
    text-align: center;
    color:black;
    font-family:monospace;
  
  }

  .work{
    flex: .54;
    margin-top: 8vh;
    max-height: 84vh;
    overflow-y: scroll;
    background-image: linear-gradient(-30deg,#eeeeee,#e7f5e7, #c5e9c7 ) ;
    animation: bounceInUp;
    animation-duration: 1s;
    border-radius: 10px;
  }

   .top{
    flex: .54;
    background-color: rgb(228, 245, 238) ;
    overflow-y: hidden;
    overflow-x: hidden;  
   }

.top hr{
  background: linear-gradient(to right, rgb(253, 253, 253),rgb(168, 167, 167), rgb(255, 255, 255));
  height: 1px;
  border-style: hidden;
}
.top button{
  width: 50px;
  height: 37px;
  border-style: hidden;
  cursor: pointer;
}

 

.main img{
    max-width: 100%;
    float:right;
    border-style: outset;
    border-color: #d1ebd2;
}


  .top form> button{
    background-color:transparent;
    font-weight:lighter;
    color:rgb(63, 63, 60);
    font-size:18px;
    min-width: 100px;
  }

  .top form> button:hover{
    color:rgb(5, 66, 5);
    font-size: 23px;
  }
  
  .content img {
    max-width: 100%;
 
 }


.column a{
  text-decoration: none;
  color: black;
  text-shadow: 0.3px 0.3px 0.3px green;
  font-family:monospace;
}

.row {
  margin: 5px 5px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 0px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 .contenta{
    background: transparent;
    padding: 8px;
    border-style:hidden;
    min-height:250px;
  } 
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  text-align:inherit;
  width: 50%;
  opacity:1;
}


.column:hover{
  opacity: 1;
  animation: shake 3s;
}
.contenta:hover img{
  opacity: .8;
}
  










  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
  }
  
  @media screen and (max-width: 800px){

  .column{
    float: none;
    width: 100%;
  }
  .contenta{
    padding: 2px;
    min-height:98px;
  } 
  .top form{
    float: left;
    margin-left: -30%;
    padding: 0px;
    max-width: 150px;
    
  }
  .top form >button{
    font-size: 10px;
    min-width: 7px;
  }
  .work{
    flex: .65
  }



  }