.home{
   flex: .54;
   margin-top: 8vh;
   max-height: 84vh;
   overflow-y: scroll;
   background-color:rgb(255, 255, 255) ;
}
.home h2{
    margin-right: 70%;
}
.home hr{
    background: linear-gradient(to right, rgb(253, 253, 253),rgb(168, 167, 167), rgb(255, 255, 255));
    height: 1px;
    border-style: hidden;
}

  .intro{
    padding-top: 20px;  
    padding-left: 3vw;  
    max-width: 40vw;

  }

  .intro p{
      color: rgb(39, 39, 35);
  }
  .description{
      padding-top: 100px;
      display: flex;
      justify-content: space-evenly;
  }
  .description h1{
      font-weight: lighter;
      font-size: 20px;
      color: rgb(39, 39, 35);
  }
  .description p1{
      font-size: 22px;
      font-weight: lighter;
  }
.makeline{
    padding-right: 10vw;
    border-right-style: inset;
    border-width: thin;
    border-color:rgb(216, 210, 210);
    height: 15vh; 
}
.dipanim{
    animation: mydip 8s infinite;
    -moz-animation: mydip 8s infinite;
    -webkit-animation: mydip 8s infinite;
    -o-animation: mydip 8s infinite;    
    color: rgb(5, 66, 5);
}


@media screen and (max-width: 800px) {
    .home{
        flex: .65;
        background-image: linear-gradient(to right, rgb(242, 250, 239), rgb(255, 255, 255),rgb(248, 255, 235));;
    }
    .intro{
        padding-left: 8vw; 
    }
    .intro p{
        font-size: 12px;
    }
    .description{
        padding-left: 30px;
        padding-top: 50px;
        max-width: 130px;
    }
    .description h1{
        font-size: 14px;
    }
    .description p1{
        font-size: 12px;
    }
}



























@keyframes mydip {
    from {opacity: 0 ;}
    to {opacity: 1;}
    from {font-weight: lighter ;}
    to {font-weight:bolder ;}
  }
   @-moz-keyframes mydip {
    from {opacity: 0 ;}
    to {opacity: 1;}
    from {font-weight: lighter ;}
    to {font-weight:bolder ;}
  }
   @-webkit-keyframes mydip {
    from {opacity: 0 ;}
    to {opacity: 1;}
    from {font-weight: lighter ;}
    to {font-weight:bolder ;}
  }
   @-o-keyframes mydip {
    from {opacity: 0 ;}
    to {opacity: 1;}
    from {font-weight: lighter ;}
    to {font-weight:bolder ;}
  }