.resume{
    flex: .54;
    margin-top: 8vh;
    max-height: 84vh;
    background-color: rgb(171, 202, 189) ;
    overflow-y: scroll;
    overflow-x: hidden;
    animation: bounceInDown;
    animation-duration: 1s;
}
.resume-main{
    display: flex;
    justify-content: space-evenly;
    animation: bounceInRight;
    animation-duration: 2s;
}

h2{
    font-weight: lighter;
}

.resumeleft hr{
    background: linear-gradient(to right, rgb(253, 253, 253),rgb(168, 167, 167), rgb(255, 255, 255));
    height: 1px;
    border-style: hidden;
}
.resumeright hr{
    background: linear-gradient(to right, rgb(253, 253, 253),rgb(168, 167, 167), rgb(255, 255, 255));
    height: 1px;
    border-style: hidden;
}

.leftul hr{
    
    height: 11px;
    width: 180px;
    border-style: hidden;
} 

.language hr{
    opacity: 0;
}

.resumeleft{
    font-family: Trebuchet MS;
    background-image: linear-gradient(60deg, #c4dbc6,#fafafa,#fafafa, #f1fff2 );  
    border-top-style: outset;
    border-width: thin;
    border-radius: 0px;
    border-color: rgb(230, 227, 230);
    flex: .5;
    min-height: 70vh;
    
}

.resumeright{
    font-family: Trebuchet MS;
    background-image: linear-gradient(-60deg, #c4dbc6,#fafafa,#fafafa, #f1fff2 );    
    border-top-style: outset;
    flex: .5;
    border-left-style: outset;
    border-width: thin;
    border-color: rgb(230, 227, 230);
    overflow-y: hidden;
    min-height: 70vh;
    border-radius: 0px;
}

.left-box{
  float: left;
  padding-left: 45px;
  padding-right: 5px;
 
}

.education{
    background-color: #f0e4e4; 
    max-width: fit-content;
}

.college{
    background-color: #dbdff3;
    max-width: fit-content;
}

.school{
    background-color: #c0c0c0;
}

.circles{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.knowledge{
    float: left;
    margin-left:3%;
}

.knowledge h4{
   font-weight: lighter;
   color: rgb(39, 39, 35);
}

.hide hr{
   opacity: 0;
}


.dotopacity {  
    margin-left: 20px;
    margin-bottom: 40px;
    background: transparent;
    opacity: .5;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(27, 59, 16),rgb(178, 185, 176), rgb(215, 223, 215)) ;
     
  }

.dotopacity2 {  
    margin-left: 20px;
    background: transparent;
    opacity: .5;
    height: 25px;
    width: 25px;
    background: linear-gradient(90deg, rgb(27, 59, 16),rgb(178, 185, 176), rgb(215, 223, 215)) ;

    border-radius: 50%;
  }

  .dot { 
  
    background: transparent;
    opacity: .8;
    height: 25px;
    width: 25px;
    background-color: rgb(48, 68, 59);
    border-radius: 50%;
  }

  .dota { 
    
    background: transparent;
    opacity: .8;
    height: 25px;
    width: 25px;
    background-color: rgb(117, 112, 112);
    border-radius: 50%;
    
  }

 

  .center{
     
      float: left;
      margin-left: 28%;
  }
  .lang{
      margin-top: 10px;
  }

  
@media screen and (max-width: 800px) {
    .resume-main{
        flex-direction: column;
        flex: .3;
    }

    .resume{
        flex: .65;
    }

    .circles{
        margin-top: 1vh;
        display: block;
    }
    .language ul{
        
        max-width: 130px;
    }  
    .resume-right-title{
        margin-top: 4vh;
    } 

    .resumeleft{
    background-image: linear-gradient(-60deg, #c4dbc6,#fafafa,#fafafa, #f1fff2 );    

    }
    .education h2{
        margin-left: 40px;
        font-size: 17px;
    }

    .college h2{
        font-size: 17px;
        margin-left: 35px;
    }
     p1{
        font-size:10px;
        
    }
    .school h2{
      
        margin-left: 30px;
        font-size: 17px;
    }

    .knowledge{
        float: left;
        margin-left: -30px;  
    }
    .center{
        float: left;
        margin-left: 30px;  
    }
}

@media screen and (max-width: 1000px){

    .resume-main{
        flex-direction: column;
       
    }

  
    .education h2{
       
        float: left;
        min-width: 400px;
    }
    .college h2{
        font-size: 13px;
        float: left;
        min-width: 400px;
    }
    .school h2{
        float: left;
        min-width: 400px;
    }
}